[submodule "shopponly"]
	path = shopponly
	url = https://github.com/theGleam/shopponly.git
[submodule "shopponly-storefront"]
	path = shopponly-storefront
	url = https://github.com/theGleam/shopponly-storefront.git
[submodule "saleor-dashboard"]
	path = shopponly-dashboard
	url = https://github.com/theGleam/shopponly-dashboard.git
